<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ppnd">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:largeHeap="true"
        android:hardwareAccelerated="false">

        <receiver
            android:name=".Other.ReStartReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".Other.GPSService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"/>
        <activity
            android:name=".SearchLocationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"/>
        <activity
            android:name=".NaturalDisasters1Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"/>
        <activity
            android:name=".NaturalDisasters2Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"/>
        <activity
            android:name=".ActionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"/>
        <activity
            android:name=".ShelterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"/>
        <activity
            android:name=".VolunteerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAOGK4pL7Qel8GRnDO_xwHK2v3gM8t94WY" />
    </application>

</manifest>